<a href="https://colab.research.google.com/github/Anilkasingh/Basics-of-python/blob/main/basics_of_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
L=[11,12,13,14]
newL=[50+i for i in L]
print(newL)

[61, 62, 63, 64]

In [ ]:
L=[11,12,13,14]
newL=[60+i for i in L]
print(newL)

In [12]:
L=[11,12,13,14]
L.remove(13)
del L[0]
print(L)

[12, 14]

In [13]:
L=[11,12,13,14]
L.sort
print(L)

[11, 12, 13, 14]

In [17]:
L=[11,12,13,14]
# L.sort(reverse=True)
L.sort
print(L[::-1])

[14, 13, 12, 11]
[11, 12, 13, 14]

In [18]:
L=[11,12,13,14]

index=L.index(13)
print(index)

2

In [21]:
L=[11,12,13,14]
print("no of elements in list is ", len(L) )

no of elements in list is  4

In [22]:
L=[11,12,13,14]


print(sum(L))

50

In [25]:
L=[11,12,13,14]
newl=[i for i in L
         if(i%2!=0) ]
print(sum(newl))

24

In [3]:
L=[11,12,13,14]
newl=[i for i in L
         if(i%2==0) ]
print(sum(newl))

26

In [32]:
L=[11,12,13,14]

def prime(n):
  for i in range(2,n//2+1):
    if n%i==0:
   
      return 0
     
  return 1

def sum1(l):
  sumall=0
  for i in l:
    if prime(i):
      sumall=sumall+i
  return sumall

print(sum1(L))

24

In [20]:
L=[11,12,13,14]
L.clear()
print(L)

[]

In [ ]:
L=[11,12,13,14]
del L
print(L)

In [23]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D[8]=8.8
print(D)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [24]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
del D[2]
print(D)

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7}

In [26]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
if 6 in D:
  print("present")
else :
  print("not present")

not present

In [27]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print(len(D))

5

In [47]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
s=sum(D.values())
print(s)

36.4

In [37]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D[3]=7.1
print(D)

{1: 5.6, 2: 7.8, 3: 7.1, 4: 8.7, 5: 7.7}

In [38]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
D.clear()
print(D)

{}

In [42]:
S1= set([10, 20, 30, 40, 50, 60])
newset={i+55 for i in S1}
print(newset)

{65, 105, 75, 115, 85, 95}

In [43]:
S1= set([10, 20, 30, 40, 50, 60])
newset={i+66 for i in S1}
print(newset)

{96, 106, 76, 116, 86, 126}

In [44]:
S1= set([10, 20, 30, 40, 50, 60])
if 40 in S1:
 print("present")
else:
  print("not present")

present

In [54]:
S1= set([10, 20, 30, 40, 50, 60])
S2= set([40, 50, 60, 70, 80, 90])

print(S2.union(S1))

{70, 40, 10, 80, 50, 20, 90, 60, 30}

In [53]:
S1= set([10, 20, 30, 40, 50, 60])
S2= set([40, 50, 60, 70, 80, 90])

print(S1.intersection(S2))

{40, 50, 60}

In [55]:
S1= set([10, 20, 30, 40, 50, 60])
S2= set([40, 50, 60, 70, 80, 90])

print(S1-S2)

{10, 20, 30}

In [60]:
import random as r
import string as s
len=r.randint(6,8)
letters=r.sample(s.ascii_letters,len)
print(letters)
string="".join(letters)
print(string)

['C', 'I', 'm', 'S', 'Y', 'Z', 'H', 'Q']
CImSYZHQ

In [9]:
for i in range(600,800):
  prime=1
  for n in range(2,i//2+1):
   
    if i%n==0:
      prime=0
    
      break
  if prime:
    print(i)

601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797

In [13]:
for i in range(100,1000):
  a=0
  b=0
  if i%7==0:
    a=1
  if i%9==0:
    b=1
  if a==1 and b==1:
    print(i)

126
189
252
315
378
441
504
567
630
693
756
819
882
945

In [16]:
import random as r
A=r.sample(range(10,30),10)
B=r.sample(range(10,30),10)
print(A)
print(B)

[29, 20, 23, 11, 27, 12, 25, 17, 15, 16]
[21, 15, 16, 26, 14, 24, 23, 13, 29, 18]

In [20]:
import random as r
A=r.sample(range(10,30),10)
B=r.sample(range(10,30),10)
print(A)
print(B)
for i in A  :

  if i in B:
    print(i)

[19, 22, 12, 11, 27, 23, 18, 10, 13, 17]
[22, 19, 26, 23, 20, 18, 11, 10, 29, 12]
19
22
12
11
23
18
10

In [28]:
import random as r
A=r.sample(range(10,30),10)
B=r.sample(range(10,30),10)
C=A
D=B
print(A)
print(B)
for i in A  :

  if i in B:
    print(i)
    C.remove(i)
    D.remove(i)
print("in C")
for i in range(0,len(C)):
  print(C[i])
print("in D")
for i in range(0,len(D)):

  print(D[i])

[18, 27, 26, 12, 23, 29, 20, 11, 25, 17]
[23, 27, 24, 21, 20, 19, 29, 18, 16, 26]
18
26
23
20
in C
27
12
29
11
25
17
in D
27
24
21
19
29
16

In [30]:
import random as r
A=r.sample(range(10,30),10)
B=r.sample(range(10,30),10)
print(A,"min of A is",min(A))
print(B,"min of B is ",min(B))

[19, 11, 10, 22, 24, 13, 12, 17, 16, 29] min of A is 10
[23, 18, 11, 21, 22, 25, 29, 16, 14, 15] min of B is  11

In [31]:
import random as r
A=r.sample(range(10,30),10)
B=r.sample(range(10,30),10)
print(A,"max of A is",max(A))
print(B,"max of B is ",max(B))

[29, 11, 27, 26, 22, 16, 14, 25, 13, 18] max of A is 29
[19, 21, 29, 26, 24, 22, 17, 15, 27, 16] max of B is  29

In [34]:
import random as r
A=r.sample(range(10,30),10)
B=r.sample(range(10,30),10)
print(A)
print(B)
c=sum(A)+sum(B)
print(c)

[13, 23, 29, 16, 11, 25, 17, 22, 26, 27]
[18, 10, 21, 24, 23, 13, 11, 20, 14, 26]
389

In [ ]:
import random as r
A=r.sample(range(100,900),100)
print(A)
for i in range(100,900):
  if i%2==0:
    print(i)

In [ ]:
import random as r
A=r.sample(range(100,900),100)
print(A)
for i in range(100,900):
  if i%2!=0:
    print(i)

In [ ]:
import random as r
A=r.sample(range(100,900),100)
print(A)
for i in range(100,900):
  prime=1 
  for n in range(2,i//2+1):
    if i%n==0:
      prime=0
      break
  if prime==1:
    print(i)

In [62]:
D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}
fp=open("dic.txt","w") 
for key, value in D.items():
  fp.write(str(key)+","+value+"\n")
 
fp.close()

In [79]:
L=["One","Two","Three","Four","Five"]
with open('count.txt','w') as fp:
  for i in L:
  # no=0
  # for n in i:
  #   no=no+1
    print(i,"->",len(i))
    fp.write(i+","+str(len(i))+"\n")

One -> 3
Two -> 3
Three -> 5
Four -> 4
Five -> 4

In [81]:
import random as r
import string as s
with open('string.txt','w') as fp:
  for n in range(0,100):
    n=r.randint(10,15)
    string="".join(r.sample(s.ascii_letters,n))
    fp.write(string+"\n")